.wrapper {
    /* background-color: tomato; */
    height: 100vh;
    /* vh anpassar sig när du förminskar rutan - Viewportheight */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
}

.text-center {
    text-align: center
    
}
