@import './color.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap');

body {
    
    font-family: 'Roboto', sans-serif;
    border: 1px solid #333;
}

.color {
    color: var(--primary-color);
}

@media (min-width: 768px) {
    body {
        /* background-color: var(--secondary-color); */
    }
    .border {
        max-width: 768px;
        margin: auto;
    }
}

/* @media only screen and (orientation: landscape) {
    body {
        background-color: var(--secondary-color);
    }
} */

