*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.container {
    width: 60%;
    margin: 0 auto;

}
.navbar {
    background: darkslateblue;
}
.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand a{
    color: orange;
    text-decoration: none;

}
ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link {
    color: #fff;
    text-decoration: none;
    padding: 1rem;
    display: inline-block;
    position: relative;
}
.link.active::after{
    content: '';
    /* border-bottom: 2px solid orange; */
    background: orange;
    height: 2px;
    position: absolute;
    left: 1rem;
    right: 1.5rem;
    bottom: 0.7rem;
    /* top: 50%; */
}
.blogs {
    margin-top: 3rem;
    counter-reset: blog-counter;
    overflow-x: hidden;
}
.center {
    text-align: center;
    /* overflow: hidden; */
}
.header {
    font-size: 3rem;
    margin-bottom: 3rem;
    display: inline-block;
    position: relative;
}
.header::before,
.header::after {
    content: '';
    height: 100%;
    display: block;
    position: absolute;
    
}
.header::before {
    background: orange;
    z-index: -2;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);

}
.header::after {
    background: #fff;
    z-index: -1;
    /* width: 100%; */
    top: 0;
    bottom: 0;
    left: -20px;
    right: -20px;
}
.post {
    margin-bottom: 3rem;
    counter-increment: blog-counter;
    
}
.post::before {
    content: '';
    display: block;
    height: 1px;
    background: #b6b6b6;
    margin-bottom: 1rem;
}

.post-title {
    margin-bottom: 1rem;
    display: inline-block;
    position: relative;
    color: #fff;
}
.post-title::before {
    content: counter(blog-counter);
    position: absolute;
    left: -7rem;
    width: 50px;
    height: 50px;
    background: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: #333 2px solid;
    outline: 3px solid orange;
    outline-offset: 5px;
}
.post-title::after {
    content: '';
    width: 300px;
    height: 120%;
    background: orange;
    position: absolute;
    left: 0;
    z-index: -1;
    transform: rotate(-3deg) translateX(-10%);
    top: -3px;

}
